<% content_for :head do %>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css">
  <%= stylesheet_link_tag    'login.css' %>
<% end %>

<div style="height: 100vh;" class="container d-flex justify-content-center align-content-center">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div><h2 class="text-center">Sign up</h2></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "loginForm" }) do |f| %>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Name" %>      
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email"  %>         
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>    
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
          </div>
          <div class="form-group text-center">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>        
      </div>  
    </div>    
  </div>
</div>
<%= render "devise/shared/error_messages", resource: resource %>