<% content_for :head do %>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css">
  <%= stylesheet_link_tag    'login.css' %>
<% end %>

<div style="height: 100vh;" class="container d-flex justify-content-center align-content-center">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div><h2 class="text-center">Change your password</h2></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: "loginForm" }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password" %>    
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm new password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Change my password", class: "btn btn-success btn-block" %>
          </div>
          <div class="form-group text-center">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>        
      </div>  
    </div>    
  </div>
</div>
<%= render "devise/shared/error_messages", resource: resource %>