<% content_for :head do %>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css">
  <%= stylesheet_link_tag    'login.css' %>
<% end %>

<div style="height: 100vh;" class="container d-flex justify-content-center align-content-center">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div><h2 class="text-center"><%= title %></h2></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <%= form_with(model: transaction, html: { id: "loginForm" }) do |form| %>

          <div class="form-group">
            <%= form.label :transaction_type %><br>
            <%= form.select :transaction_type, ['Expense', 'Enter'], {class: "form-control"}, {style: "width: 100%;height: 40px;"} %>      
          </div>

          <div class="form-group">
            <%= form.label :amount %><br>
            <%= form.number_field :amount, class: "form-control" %>         
          </div>

          <div class="form-group">
            <%= form.label :date %><br>
            <%= form.date_field :transaction_date, class: "form-control" %>      
          </div>

          <div class="form-group">
            <%= form.label :motif %><br>
            <%= form.text_field :motif, class: "form-control" %>       
          </div>

          <div class="form-group">
            <%= form.submit class: "btn btn-success btn-block" %>
          </div>

        <% end %>        
      </div>  
    </div>    
  </div>
</div>
<%= render "./devise/shared/error_messages", resource: transaction %>