<div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="width: 400px; height: 400px; text-align: center; box-shadow: 0 16px 30px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); border-radius: 20px;">
        <h2 style="border-bottom: solid 2px rgba(0,0,0,0.1); padding-bottom: 20px;">Balance Sheet</h2><br><br>
        <h3 style="color: green;">Total entries : <%= @total_entries %></h3><br><br>
        <h3 style="color: red;">Total expenses : <%= @total_expenses %></h3><br><br>
        <h3>Reserve : <%= @reserve %></h3>
    </div>
</div>