<% content_for :head do %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      thead input {
          width: 100%;
          padding: 3px;
          box-sizing: border-box;
      }
  </style>
<% end %>

<h1 style="margin-top: 100px;" class="mx-5">Transactions</h1>
<div class="p-5">
<table id="example" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th><span class="d-flex flex-column align-items-center">Type</span></th>
            <th><span class="d-flex flex-column align-items-center">Amount</span></th>
            <th><span class="d-flex flex-column align-items-center">Date</span></th>
            <th><span class="d-flex flex-column align-items-center">Motif</span></th>
            <th style="text-align:center;min-width: 100px;">
              <%= link_to new_transaction_path, class: "d-flex flex-column align-items-center" do %>
                New transaction
                <button type="button" data-func="dt-add" class="mx-2 btn btn-success btn-xs dt-add">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              <% end %>
            </th>
        </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr 
          <% if transaction.transaction_type == "Expense" %>
            style="background-color: rgb(253, 231, 231) !important;"
          <% else %>
            style="background-color: rgb(231, 253, 235) !important;"
          <% end %>
        >
            <td><%= transaction.transaction_type %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.transaction_date %></td>
            <td><%= transaction.motif %></td>
            <td>
              <%= link_to edit_transaction_path(transaction) do %>
                <button type="button" class="btn btn-primary btn-xs dt-edit" style="margin-right:16px;">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
              <% end %>
              <%= link_to transaction, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <button type="button" class="btn btn-danger btn-xs dt-delete">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>